{{#each posts}}
  <div>
    <h2>{{this.title}}</h2>
    <p>by {{this.user.username}} on {{this.createdAt}}</p>
    <p>{{this.content}}</p>
  </div>
{{/each}}

{{#if logged_in}}
  <a href="/dashboard">Go to Dashboard</a>
  <a href="/logout" id="logout">Logout</a>
  <script src="/js/logout.js"></script>
{{else}}
  <a href="/login">Login</a>
{{/if}}
